
@{
    ViewBag.Title = "ApplicationStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">@TempData["HigMessage"]</h1>
    <h1 class="display-3">@TempData["LigMessage"] </h1>
    <h1 class="display-3">@TempData["MigMessage"]</h1>
    <br /> <br />
</div>

