@{
    ViewBag.Title = "Contact";
}
<h2 style="font-family:cursive">@ViewBag.Title.</h2>
<h3 style="font-family:'Segoe UI';color:brown"> For Application Form related queries:</h3>
<address>
    Deputy Director (Coordn.) Housing<br />
    Housing Department<br />
    Vikas Sadan, INA, New Delhi<br />
    <abbr title="Phone">Contact:</abbr>
    24661810
</address>
<h3 style="font-family:'Segoe UI';color:brown"> For account related queries:</h3>
<abbr title="Phone">Contact:</abbr>24661614
<h3 style="font-family:'Segoe UI';color:brown"> For technical related queries:</h3>
<abbr title="Phone">Contact:</abbr>24661763
