@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2 style="color:blueviolet;font-family:Bahnschrift">
        Delhi Development Authority
    </h2>
    
    <code class="lead">
        &nbsp; &nbsp; &nbsp; &nbsp;
        Welcome to to <i>DDA HOUSING SCHEME 2019.</i> To fill the Applicaiton Form online, instructions, and application form are available in this website.
        <br /> &nbsp; &nbsp; &nbsp; &nbsp;
        Before filling up online application form, applicants are advised to carefully go through the Brochure and instructions.
    </code>
</div>
<div>
    <h2 style="font-family:cursive">Instructions</h2>
    <ul style="font-family:Verdana, Geneva, Tahoma, sans-serif;margin-top:10px">
        <li>
            All the users are advised to read the complete instructions carefully before filling the online form.
        </li>
        <li>
            In registration form, please fill your name as per in the Aadhar Card.
        </li>
        <li>
            Enter your 12 digit Aadhar Card Number without mistake.
        </li>
        <li>
            Enter your 10 digit mobile number which is attached with Aadhar Card. Mobile Number should be unique (single registration only possible).
        </li>
        <li>
            Mention your Date of Birth as per Aadhar Card and user must be 18+ years old to register the form.
        </li>
        <li>
            Give your address details clearly as mentioned in Aadhar Card. <span style="color:red">No residents other than Delhi are allowed to register</span>.
        </li>
        <li>
            Select the house in the list of houses. Per person allowed to select only 1 house for consideration in lottery.
        </li>
        <li>
            The priority of houses should be in different area location.
        </li>
        <li>
            The priority of houses should be in different area location.
        </li>
    </ul>
</div>